* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* --primary: #8a058d;  */
    --primary: #7909db;
    --text-primary: #ffffff;
    --secondary: #ffcc00;
    --secondary-text: #000000;
    --tertiary: #ffffff; 
    --accent: #cbcbcb;  
    
    --primary-deep: #550356;
    --tertiary-deep: #e8e8e8;

    --white: #FFFFFF;       /* White */
    --black: #000000;       /* Black */
    --off-white: #fffee1;   /* Off White  */
    --light-green: #A8D5BA; /* Light Green */
    --dark-green: #187c68; /* Dark Green */
    --blue-green: #0aa89b; /* Blue Green */
    --light-blue: #d5e3fe;  /* Light Blue */
    --dark-blue: #5168f4;
    --orange: #ea8528;     /* Yellow  */
    --pink: #f9d5df;       /* Pink */
    --light-purple: #ded5fe;  /* Light Purple  */
    --deep-purple: #533984; 



    /* Backgrounds */
    --background: var(--tertiary);

    /* Text Colors */
    --text-heading: #333333; 
    --text-body: #4A4A4A;    
    --text-muted: #7A7A7A;   

    /* Buttons */
    --button-colour: var(--primary);
    --button-text: var(--white);
    --button-border: var(--primary);
    --button-colour-hover: var(--primary-deep); 
    --button-text-hover: var(--white);
    --button-border-hover: var(--primary-deep);
    --button-active: var(--secondary);         
    --button-active-text: var(--white);
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-body);
    line-height: 1.6;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
    list-style-type: none;
}

/* Button styles */
.base-btn {
    padding: 4px 12px;
    font-size: 1.2rem;
    width: 100%;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    color: var(--white);
    background-color: var(--dark-blue);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    max-width: 250px;
    @media (hover: hover) {
        &:hover {
            background-color: var(--button-colour-hover);
            color: var(--button-text-hover);
            cursor: pointer;
            border-color: var(--button-border-hover);
        }
    }
    &.active {
        background-color: var(--button-active);
        color: var(--button-active-text);
        @media (hover : hover) {
            &:hover {
                background-color: var(--button-active);
                color: var(--button-active-text);
            }
        }
    }
}

.tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    background-color: var(--deep-purple);
    border: 2px solid var(--deep-purple);
    z-index: 100;
    border-radius: 100px;
    overflow: hidden;
    .tab-btn {
        border-radius: 0px;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        color: var(--deep-purple);
        font-weight: 600;
        background-color: var(--light-purple);
        text-decoration: none;
        &.active {
            background-color: var(--pink);
        }
        @media (hover : hover) {
            &:hover {
                border-color: var(--primary);
                color: inherit;
                &:not(.active) {
                    background-color: var(--deep-purple);
                    color: var(--white);
                }
            }
        }
        &:first-of-type {
            border-right: 0px;
        }
        &:last-of-type {   
        }
    }
}

h2 {
    font-size: 1.875rem;
}

.page {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 30px;
        gap: 10px;
        background-color: var(--light-blue);
        margin-top: 20px;
        border-radius: 14px;
        border: 2px solid var(--deep-purple);
        &.educators-section {
            margin: 0px 20px 20px;
            width: calc(100% - 40px);
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h2.login-text {
            color: var(--deep-purple);
            font-size: 1.8rem;
            font-weight: 600;
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 16px;
            .form-select,
            .form-input {
                font-size: 1rem;
                padding: 10px 12px;
                border-radius: 16px;
                font-weight: 500;
                border: 2px solid var(--deep-purple);
                color: var(--deep-purple);
                width: 100%;
                &::placeholder {
                    color: var(--deep-purple);
                }
            }
            .form-submit {
                padding: 4px 12px;
                font-size: 1.2rem;
                width: 100%;
                border: 2px solid var(--dark-blue);
                border-radius: 16px;
                color: var(--white);
                background-color: var(--dark-blue);
                font-weight: 600;
                cursor: pointer;
                line-height: 1.6;
            }
        }
        .form-link-wrap {
            font-weight: 600;
            p {
                line-height: 1;
                color: var(--deep-purple);
            }
            .form-link {
                color: var(--orange);
                text-decoration: none;
                @media (hover:hover) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .list-form-wrapper {
        padding: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        .form {
            align-items: flex-start;
        }
    }
    flex: 1;
    &.student-access-request,
    &.tiers-page,
    &.school-register,
    &.dashboard,
    &.login-page {
        background-color: var(--off-white);
        position: relative;
        &:not(.dashboard) {
            padding: 40px 0px 100px 0px;
        }
        background-image: url(../public/design-images/random-dots.png);
        background-size: 500px;
        background-repeat: repeat;
        .login-page-pattern {
            position: absolute;
            height: 100px;
            &.top-left-wave {
                top: 0px;
                left: 0px;
            }
            &.top-right-image {
                top: 0px;
                right: 0px;
                padding: 10px;
            }
            &.bottom-left-wave {
                bottom: 0px;
                left: 0px;
            }
            &.bottom-right-wave {
                bottom: 0px;
                right: 0px;
            }
        }
        .tabs {
            justify-content: center;
        }
        .student-portal-title {
            color: var(--deep-purple);
            max-width: 300px;
            text-align: center;
            line-height: 1.2;
            margin-top: 26px;
        }
        .form-wrapper {
            z-index: 10;
            .form {
                .form-input {
                    &.email-input {
                        background-image: url(../public/design-images/envelope-icon.png);
                        background-size: 30px;
                        background-repeat: no-repeat;
                        background-position: center left 10px;
                        padding-left: 50px;
                        &:-webkit-autofill {
                            padding-left: 20px;
                        }
                    }
                    &.password-input {
                        padding-left: 50px;
                        background-image: url(../public/design-images/padlock-icon.png);
                        background-size: 30px;
                        background-repeat: no-repeat;
                        background-position: center left 10px;
                        &:-webkit-autofill {
                            padding-left: 20px;
                        }
                    }
                    &.name-input {
                        padding-left: 50px;
                        background-image: url(../public/design-images/text-aa.png);
                        background-size: 30px;
                        background-repeat: no-repeat;
                        background-position: center left 10px;
                        &:-webkit-autofill {
                            padding-left: 20px;
                        }
                    }
                }
                .form-select {
                    .form-option {
                        border-radius: 16px;
                        padding: 20px;
                    }
                    &.tier-select {
                        padding-left: 50px;
                        background-image: url(../public/design-images/tiers-icon.png);
                        background-size: 30px;
                        background-repeat: no-repeat;
                        background-position: center left 10px;
                    }
                }
            }
        }
    }
    &.student-access-request {
        padding: 40px 20px 100px 20px;
        justify-content: flex-start;
    }
}
/* Dashboard */
.dashboard {
    justify-content: flex-start;
    gap: 20px;
    .dashboard-top-bar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .section-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .section-tabs {
            justify-content: center;
            gap: 1px;
            overflow: hidden;
            width: fit-content;
            padding: 0px;
            .tab-btn {
                padding: 12px 16px;
                background-color: var(--primary);
                border-radius: 0px;
                border: none;
                border-radius: 5px 5px 0px 0px;
                &.active {
                    background-color: var(--primary-deep);
                }
            }
        }
        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    .dashboard-section {
        /* background-color: var(--tertiary-deep); */
        padding: 0px 20px;
        border-radius: 5px;
        width: 100%;
        /* border: 1px solid var(--accent); */
    }
    &.school-dashboard {
        .button-school {
            text-decoration: none;
            border: none;
            font-size: 1.125rem;
            line-height: 1.2;
            font-weight: 500;
            text-align: left;
        }
    }
}

/* Tiers Page */
.tiers-page {
    gap: 20px;
    padding: 20px;
    color: var(--deep-purple);
    .tiers-inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 30px;
        .tier-item {
            min-width: 240px;
            border-radius: 16px;
            border: 2px solid var(--deep-purple);
            padding: 20px;
            gap: 4px;
            display: flex;
            flex-direction: column;
            background-color: var(--light-blue);
            color: var(--deep-purple);
            .tier-title {
                line-height: 1.2;
            }
            .tier-price {
                font-size: 18px;
                font-weight: 600;
                color: var(--orange);
            }
            .tier-features-wrapper {
                font-weight: 600;
                h4 {
                    margin-bottom: 6px;
                    font-size: 1.25rem;
                }
                .tier-features {
                    list-style-type: none;
                    padding-bottom: 20px;
                }
            }
            .tier-btn {
                margin-top: 20px;
            }
        }
    }
    .footer-text {
        padding: 20px;
        font-size: .875rem;
    }
}

/* Course Browse Page */

.browse-courses {
    .courses-wrapper {
        .courses-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            padding: 20px;
            .course-item {
                background-color: var(--tertiary);
                box-shadow: 2px 2px 4px 4px var(--tertiary-deep);
                border-radius: 0px 20px 0px 20px;
                padding: 0px 20px 20px;
                gap: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .image-wrapper {
                    display: flex;
                    position: relative;
                    border-bottom: 1px solid #000000;
                    margin-bottom: 6px;
                    .course-duration {
                        position: absolute;
                        bottom: 0px;
                        background-color: var(--white);
                        padding: 4px 16px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .description {
                    font-size: .875rem;
                    line-height: 1.2;
                }
                .button-row {
                    display: flex;
                    width: 100%;
                    gap: 6px;
                    margin-top: 14px;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.course-modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 100%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 4px var(--tertiary-deep);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    .close-modal {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 8px 16px;
        font-size: 26px;
        /* background-color: var(--white); */
        border-top-right-radius: 20px;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }
    img {
        max-width: 300px;
    }
    .title-wrap {
        .title {
            margin: 0px 0px;
        }
    }
    .description-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .description-title {
            padding-bottom: 6px;
            border-bottom: 1px solid var(--black);
        }
    }
    .module-list {
        list-style-type: decimal;
        padding-left: 16px;
    }
}

.portal-header {
    background-color: var(--primary);
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    .title {
        
    }
    .user-section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        .user-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            background-color: transparent;
            border: none;
            color: var(--text-primary);
            .user-icon {
                height: 30px;
                width: 30px;
                border-radius: 100%;
                background-color: var(--white);
                color: var(--black);
                font-size: .6rem;
                display: flex;
                align-items: center;
            }
            .username {
                font-size: .875rem;
            }
        }
    }
    .nav-menu-dropdown {
        position: absolute;
        color: var(--black);
        top: 60px;
        right: 20px;
        background-color: var(--tertiary);
        border: 1px solid var(--accent);
        border-radius: 5px;
        box-shadow: 2px 2px 6px 2px var(--accent);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        z-index: 100;
    }
}

.overview-widget {
    background-color: var(--secondary);
    border-radius: 14px;
    padding: 10px 20px;
    color: var(--secondary-text);
    .title {
        font-size: 1rem;
        font-weight: 600;
    }
    .overview-items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap; 
        justify-content: center;
        @media screen and (min-width: 420px) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        .overview-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            justify-content: flex-start;
            width: min-content;
            .count {
                font-size: 1.625rem;
                font-weight: 600;
            }
            .text {
                font-size: .75rem;   
                line-height: 1.2;
            }
        }
    }
}
.dashboard-details-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0px 20px;
    width: 100%;
    max-width: 600px;
    .dashboard-buttons {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        .light-blue-btn {
            background-color: var(--light-blue);
            color: var(--black);
            border-color: var(--light-blue);
            padding: 14px 14px;
            width: 100%;
            border-radius: 14px;
        }
        .light-green-btn {
            background-color: var(--light-green);
            border-color: var(--light-green);
            color: var(--black);
            padding: 14px;
            width: 100%;
            border-radius: 14px;
        }
    }
}

.list-widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 10px;
    background-color: var(--light-blue);
    border: 2px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 16px;
    padding: 20px;
    margin: 0px 20px;
    max-width: calc(100% - 40px);
    .title-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .input-search {
        padding: 10px;
        border-radius: 14px;
        border: 1px solid var(--accent);
    }
    .dashboard-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .dashboard-list-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 8px 10px;
            border: 1px solid var(--accent);
            border-radius: 10px;
            background-color: var(--tertiary-deep);
            .item-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
            p {
                font-weight: 600;
            }
            .manage-btn {
                padding: 6px 12px;
                font-size: .875rem;
            }
            .item-details {
                margin-top: 10px;
                width: 100%;
                border-top: 1px solid var(--accent);
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    margin-bottom: 6px;
                    font-size: 1.25rem;
                }
                .class-inner-list {
                    list-style-type: none;
                    padding-left: 0px;
                    gap: 4px;
                    display: flex;
                    flex-direction: column;
                    .split-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        button {
                            padding: 4px 8px;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
}

.classes-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    align-items: center;
    @media screen and (min-width: 40em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(3, 1fr);
    }
    .class-card {
        --card-colour: var(--deep-purple);
        --card-colour-2: var(--light-purple);
        --card-colour-text: var(--deep-purple);
        &:nth-of-type(2) {
            --card-colour: var(--dark-green);
            --card-colour-2: var(--blue-green);
            --card-colour-text: var(--white);
        }
        background-color: var(--white);
        max-width: 500px;
        border-radius: 14px;
        border: 2px solid var(--card-colour-2);
        padding: 0px 0px 20px;
        overflow: hidden;
        width: 100%;
        .class-name {
            background-color: var(--card-colour-2);
            color: var(--card-colour-text);
            padding: 10px 20px;
        }
        .classmates-title {
            padding: 5px 20px;
        }
        .class-students-list {
            padding: 0px 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            .class-students-item {
                .student-icon {
                    width: 40px;
                    display: flex;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border-radius: 100%;
                    height: 40px;
                    font-size: 12px;
                    background-color: var(--card-colour);
                }
            }
        }
        .class-courses {
            padding: 5px 20px;    
        }
        .class-courses-list {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            padding: 0px 20px;
            .class-courses-item {
                background-color: var(--card-colour);
                border-radius: 8px;
                padding: 3px 12px;
                font-size: .875rem;
                color: var(--white);
                font-weight: 600;
            }
        }
    }

}
.page {
    .create-student-form,
    .create-class-form {
        padding: 20px;
    }
}