* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* --primary: #8a058d;  */
    --primary: #7909db;
    --text-primary: #ffffff;
    --secondary: #ffcc00;
    --secondary-text: #000000;
    --tertiary: #ffffff; 
    --accent: #cbcbcb;  
    
    --primary-deep: #550356;
    --tertiary-deep: #e8e8e8;

    --white: #FFFFFF;       /* White */
    --black: #000000;       /* Black */
    --light-green: #A8D5BA; /* Light Green */
    --light-blue: #A3D2F1;  /* Light Blue */

    /* Backgrounds */
    --background: var(--tertiary);

    /* Text Colors */
    --text-heading: #333333; 
    --text-body: #4A4A4A;    
    --text-muted: #7A7A7A;   

    /* Buttons */
    --button-colour: var(--primary);
    --button-text: var(--white);
    --button-border: var(--primary);
    --button-colour-hover: var(--primary-deep); 
    --button-text-hover: var(--white);
    --button-border-hover: var(--primary-deep);
    --button-active: var(--secondary);         
    --button-active-text: var(--white);
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-body);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

/* Button styles */
.base-btn {
    background-color: var(--button-colour);
    border: 2px solid var(--button-border);
    padding: 6px 10px;
    color: var(--button-text);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (hover: hover) {
        &:hover {
            background-color: var(--button-colour-hover);
            color: var(--button-text-hover);
            cursor: pointer;
            border-color: var(--button-border-hover);
        }
    }
    &.active {
        background-color: var(--button-active);
        color: var(--button-active-text);
        @media (hover : hover) {
            &:hover {
                background-color: var(--button-active);
                color: var(--button-active-text);
            }
        }
    }
}

.tabs {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 0px;
    padding-right: 20px;
    .tab-btn {
        border-top: 0px;
        border-radius: 0px;
        border: none;
        padding: 8px 16px;
        background-color: var(--primary-deep);
        &.active {
            background-color: var(--primary);
        }
        @media (hover : hover) {
            &:hover {
                border-color: var(--primary);
                &:not(.active) {
                    background-color: var(--button-colour-hover);
                }
            }
        }
        &:first-of-type {
            border-bottom-left-radius: 5px;
            border-right: 0px;
        }
        &:last-of-type {   
            border-bottom-right-radius: 5px;
        }
    }
}

h2 {
    font-size: 1.875rem;
}

.page {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        padding-top: 40px;
        width: 100%;
        gap: 20px;
        h2.login-text {
            
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            .form-select,
            .form-input {
                font-size: 1rem;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid var(--accent);
                color: var(--black);
            }
            .form-submit {
                padding: 6px 12px;
                font-size: 1rem;
                border: 2px solid var(--accent);
                border-radius: 4px;
                color: var(--accent);
                background-color: var(--button-colour-alt);
                font-weight: 500;
                margin-top: 10px;
                min-width: 100px;
                cursor: pointer;
            }
        }
    }
    .create-class-form {
        padding: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        .form {
            align-items: flex-start;
        }
    }
}

/* Dashboard */
.dashboard {
    gap: 20px;
    .dashboard-top-bar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .section-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .section-tabs {
            justify-content: center;
            gap: 1px;
            overflow: hidden;
            width: fit-content;
            padding: 0px;
            .tab-btn {
                padding: 12px 16px;
                background-color: var(--primary);
                border-radius: 0px;
                border: none;
                border-radius: 5px 5px 0px 0px;
                &.active {
                    background-color: var(--primary-deep);
                }
            }
        }
        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
        .dashboard-section {
            background-color: var(--tertiary-deep);
            padding: 20px;
            border-radius: 5px;
            width: 100%;
            border: 1px solid var(--accent);
        }
    }
}

/* Tiers Page */
.tiers-page {
    gap: 20px;
    padding: 20px;
    .tiers-inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 30px;
        .tier-item {
            box-shadow: 2px 2px 6px 2px var(--accent);
            min-width: 240px;
            border-radius: 10px;
            padding: 20px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            .tier-price {
                font-size: 18px;
                font-weight: 300;
            }
            .tier-features-wrapper {
                font-weight: 600;
                h4 {
                    margin-bottom: 6px;
                    font-size: 1.25rem;
                }
                .tier-features {
                    list-style-type: none;
                    padding-bottom: 20px;
                }
            }
            .tier-btn {
                width: fit-content;
                margin-top: auto;
            }
        }
    }
}

/* Course Browse Page */

.browse-courses {
    .courses-wrapper {
        .courses-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            padding: 20px;
            .course-item {
                background-color: var(--tertiary);
                box-shadow: 2px 2px 4px 4px var(--tertiary-deep);
                border-radius: 0px 20px 0px 20px;
                padding: 0px 20px 20px;
                gap: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .image-wrapper {
                    display: flex;
                    position: relative;
                    border-bottom: 1px solid #000000;
                    margin-bottom: 6px;
                    .course-duration {
                        position: absolute;
                        bottom: 0px;
                        background-color: var(--white);
                        padding: 4px 16px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .description {
                    font-size: .875rem;
                    line-height: 1.2;
                }
                .button-row {
                    display: flex;
                    width: 100%;
                    gap: 6px;
                    margin-top: 14px;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.course-modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 100%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 4px var(--tertiary-deep);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    .close-modal {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 8px 16px;
        font-size: 26px;
        /* background-color: var(--white); */
        border-top-right-radius: 20px;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }
    img {
        max-width: 300px;
    }
    .title-wrap {
        .title {
            margin: 0px 0px;
        }
    }
    .description-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .description-title {
            padding-bottom: 6px;
            border-bottom: 1px solid var(--black);
        }
    }
    .module-list {
        list-style-type: decimal;
        padding-left: 16px;
    }
}

.portal-header {
    background-color: var(--primary);
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    .title {
        
    }
    .user-section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        .user-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            background-color: transparent;
            border: none;
            color: var(--text-primary);
            .user-icon {
                height: 30px;
                width: 30px;
                border-radius: 100%;
                background-color: var(--white);
                color: var(--black);
                font-size: .6rem;
                display: flex;
                align-items: center;
            }
            .username {
                font-size: .875rem;
            }
        }
    }
    .nav-menu-dropdown {
        position: absolute;
        color: var(--black);
        top: 60px;
        right: 20px;
        background-color: var(--tertiary);
        border: 1px solid var(--accent);
        border-radius: 5px;
        box-shadow: 2px 2px 6px 2px var(--accent);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        z-index: 100;
    }
}

.overview-widget {
    background-color: var(--secondary);
    border-radius: 14px;
    padding: 10px 20px;
    color: var(--secondary-text);
    .title {
        font-size: 1rem;
        font-weight: 600;
    }
    .overview-items {
        display: flex;
        gap: 20px;
        .overview-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            justify-content: flex-start;
            width: min-content;
            .count {
                font-size: 1.625rem;
                font-weight: 600;
            }
            .text {
                font-size: .75rem;   
                line-height: 1.2;
            }
        }
    }
}
.dashboard-details-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0px 20px;
    width: 100%;
    .dashboard-buttons {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        .light-blue-btn {
            background-color: var(--light-blue);
            color: var(--black);
            border-color: var(--light-blue);
            padding: 14px 14px;
            width: 100%;
            border-radius: 14px;
        }
        .light-green-btn {
            background-color: var(--light-green);
            border-color: var(--light-green);
            color: var(--black);
            padding: 14px;
            width: 100%;
            border-radius: 14px;
        }
    }
}

.class-list-widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 10px;
    .title-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .input-search {
        padding: 10px;
        border-radius: 14px;
        border: 1px solid var(--accent);
    }
    .class-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .class-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 8px 10px;
            border: 1px solid var(--accent);
            border-radius: 10px;
            background-color: var(--tertiary-deep);
            .class-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
            p {
                font-weight: 600;
            }
            .manage-btn {
                padding: 6px 12px;
                font-size: .875rem;
            }
            .class-details {
                margin-top: 10px;
                width: 100%;
                border-top: 1px solid var(--accent);
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    margin-bottom: 6px;
                    font-size: 1.25rem;
                }
                .class-inner-list {
                    list-style-type: none;
                    padding-left: 0px;
                    gap: 4px;
                    display: flex;
                    flex-direction: column;
                    .split-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        button {
                            padding: 4px 8px;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
}